@charset "uft-8";
@import url(../common/fontawesome-free-6.4.0-web/css/all.min.css);
@import url(../common/css/reset.css);
@import url(../common/css/font.css);



html {
	width: 100%;
	height: auto;
}
body {
	width: 100%;
	height: auto;
}

.wrap {
	display: block;
	width: 100%;
	height: inherit;
	overflow: hidden;
}

.wrap > div {
	display: block;
}

header {
	width: 90%;
	height: 80px;
	margin-left: 5%;
	border-bottom: 2px solid #666;
}
header #boardname {
	height: 50px;
	line-height: 60px;
	font-size: 30px;
}

header span {
	display: block;
	color: #999;
	margin-left: 2px;
}


main {}

#bulletin_board {
	width: 90%;
	margin-left: 5%;
	margin-top: 2px;
	height: 450px;
}

#bulletin_board > button {
	position: absolute;
	top:45px;
	right: 33px;
	padding: 2px;
	width: 50px;
	text-align: center;
	border: 1px solid #aaa;
	border-radius: 5px;
	background: #ddd
}

#new_text {
	margin-right: 55px;
}
#text_delete {}

#new_text:hover,
#text_delete:hover{
	background: #fffbe0;
}


#bulletin_board .board_wrap{
	width: 100%;
	border-top: 1px solid #999;
}
#bulletin_board .board_wrap ul{}

#bulletin_board .board_wrap ul li{
	display: block;
	width: 100%;
	height: 32px;
	border-bottom: 1px dotted #999
}

#bulletin_board .board_wrap ul li > div{
	height: 100%;
	float: left;
	line-height: 32px;
	font-size: 15px;
}

#list_checkbox {
  background-color: #fff;
  border: 1px solid #ccc;
	float: left;
	height: 32px;
	width: 5%;
	
}

#bulletin_board .board_wrap ul li .num {
	height: 100%;
	width: 10%;
	border-right: 1px dotted #999;
	text-align: center;
}
#bulletin_board .board_wrap ul li .text {
	width: 50%;
	padding-left: 2%;
	border-right: 1px dotted #999;
	text-align: left;
}
#bulletin_board .board_wrap ul li .text:hover {
	color: #808080;
	cursor: pointer;
}
#bulletin_board .board_wrap ul li .download {
	width: 17%;
	border-right: 1px dotted #999;
	text-align: center;
	cursor: pointer;
	color: #3972dd;
}
#bulletin_board .board_wrap ul li .download:hover {
	background: #cbe4f4;
}

#bulletin_board .board_wrap ul li .date {
	width: 18%;
	text-align: center;
	font-size: 14px;
}



#writing {
	width: 100%;
	height: 100%;
	}

#writing textarea {
	margin-top: 5px;
	border: 1px solid #aaa;
}

#writing_title {
	width: 100%;
	height: 30px;
	line-height: 25px;
}

#writing_contents {
	width: 100%;
	height: 350px;
	line-height: inherit;
}

.writing_button {
	position: absolute;
	bottom: 20px;
	right: 25px;
	
}
.writing_button button{
  padding: 4px 6px;
	background: #ddd;
	border-radius: 5px;
}

.writing_button #writing_attach{
	padding: 4px 20px;
	margin-right: 5px;
}
.writing_button #writing_save{
}

.writing_button #writing_attach:hover,
.writing_button #writing_save:hover{
	background: #a8ddff;
}

