
@charset "uft-8";
@import url(../fontawesome-free-6.4.0-web/css/all.min.css);
@import url(./reset.css);
@import url(./font.css);
@import url(./main.css);

body {
	width: 100%;
	height: -webkit-fill-available;
	min-height: 600px;
}


header {
	position: absolute;
	z-index: 55
}
gnb {
	display: block;
	width: 20%;
	height: 100%;
}

#gnb div {
	display: block;
	width: 100%;
	float: left;
}
#gnb #customer-logo{
	margin-top: 70px;
}
main {
	height: 100%;
}

footer {
	position: absolute;
	bottom: 0px;
	right: 0px;
}