@charset "uft-8";
@import url(../fontawesome-free-6.4.0-web/css/all.min.css);
@import url(./reset.css);
@import url(./font.css);
/* Step 1: Common Properties
  These styles are required to make icons render reliably */


html {
	width: 100%;
	height: 1050px;
	min-width: 1280px
}

body {
	width: 100%;
	height: 100%;
	font-family: 'NotoSansKR-Regular'
}

.wrap {
	display: block;
	width: 100%;
	height: 100%;
}

.wrap > div {
	display: block;
}

header {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 70px;
	background-color: #084483
}

#header-left {
	display: block;
	width: 70%;
	height: 100%;
	line-height: 70px;
	float: left
}

#header-left div {
	display: block;
	height: 100%;
	line-height: 40px;
	float: left
}

#header-left .logo {
	display: block;
	background: url(../img/we_logo.png) no-repeat;
	width: 100%;
	margin-top: 1px
}

#header-right {
	display: block;
	width: 30%;
	height: 100%;
	line-height: 40px;
	float: right
}

#header-right div {
	height: 100%;
	line-height: 40px;
	float: left;
	text-align: center;
}

#header-right #customer-info {
	width: 33.3%;
	color: #f2d678;
	font-size: 18px;
}

#header-right #customer-info span {
	width: 100%;
	display: block;
	height: 40px;
	margin-top: 15px;
}

#header-right #login-logout {
	width: 33.3%;
	color: #fff
}

#header-right #login-logout:hover {
	color: #33e1e0;
	font-family: 'NanumSquareNeoOTF-Bd'
}

#header-right span {
	width: 100%;
	display: block;
	height: 40px;
	border-right: solid 1px rgba(255, 255, 255, 0.52);
	margin-top: 15px;
}

#header-right #help {
	width: 33.3%;
	color: #fff
}

#header-right #help :hover {
	color: #33e1e0;
	font-weight: bold
}

#header-right #help button {
	width: 100%;
	display: block;
	height: 40px;
	margin-top: 15px;
}



/*메인*/

main {
	display: block;
	float: left;
	width: 100%;
	height: 100%;
}

/*네비게이션*/
gnb {
	display: block;
	width: 20%;
	height: 100%;
	float: left;
	background: #555;
	box-shadow: 1px 1px 5px #888
}

#gnb div {
	display: block;
	width: 100%;
	float: left;
}

#gnb {}

#gnb #customer-logo {
	position: relative;
	display: block;
	height: 25%;
	min-height: 200px;
	background: url(../img/sc_logo%20%EB%B3%B5%EC%82%AC.png) no-repeat 50% 50% #fff;
	background-size: 50%;
	width: 100%;
	box-shadow: 0px 2px 1px rgba(58, 70, 82, 0.37);
	z-index: 10
}

#gnb #customer_menu {
	position: relative;
}

#gnb .customer_project {}

#gnb .customer_project .project_name {
	float: left;
	line-height: 60px;
	font-family: 'NanumSquareNeoOTF-Bd';
	font-size: 16px;
	text-align: left;
	color: #333;
	background: #8b8b8b;
	cursor: pointer;
	padding-left: 20px;
}

#gnb .customer_project .project_name {
	float: left;
	line-height: 60px;
	font-family: 'NanumSquareNeoOTF-Bd';
	font-size: 16px;
	text-align: left;
	color: #333;
	background: #8b8b8b;
	cursor: pointer;
	padding-left: 20px;
}

#gnb .customer_project .project_name i {
	float: right;
	line-height: 60px;
	margin-right: 20px;
	transform: rotate(45deg);
	transition: .5s all;
}

#gnb .customer_project:hover .project_name i {
	float: right;
	line-height: 60px;
	margin-right: 20px;
	transform: rotate(0deg);
	transition: .5s all;
}

#gnb .customer_project .project_name.on {
	background: #7296bc;
	cursor: pointer;
	color: #fff;
	font-weight: bold;
}

#gnb .customer_project .project_name.on i {
	float: right;
	line-height: 60px;
	margin-right: 20px;
	transform: rotate(180deg);
	transition: 1s all;
}

#gnb .customer_project .project_name:hover {
	background: #83a5cb;
}

#gnb .gwajeong_menu {
	background-color: #eee;
	overflow: hidden;
}


/*메인2*/
main {
	position: relative;
	display: block;
	float: left;
	width: 80%;
	height: 90%;
	font-family: 'NanumSquareNeoOTF-Bd';
}

section#Client_list {
	position: relative;
	float: left;
	left: 50%;
	margin: 80px 0px 0px -47.5%;
	width: 95%;
	height: 830px;
}

#Client_list > .Client_list_name {
	position: absolute;
	font-size: 34px;
	font-family: 'NanumSquareNeoOTF-Bd';
	font-weight: bold;
	top: -50px;
}

.Client_list_wrap {
	border-top: 1px solid #666;
	width: 100%;
	height: 100%
}

.add_client_button {
	display: block;
	height: 30px;
	box-sizing: border-box;
	margin: 10px 0;
}
.add_client_button > button {
	padding: 5px;
	border: 1px solid #777;
	box-sizing: border-box;
	float: left;
	border-radius: 4px;
	cursor: pointer;
	width: 150px;
	text-align: center;
	margin-left: 5px;
}

#addClientBtn {}

#addProjectBtn {}


#addClientBtn:hover,#addProjectBtn:hover {
	background: #ffe0a6
}


.client_ul > ul {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
}

.client_ul > ul > li {
	display: block;
	float: left;
	text-align: center;
	background: #dee9eb
}


table {
	border-collapse: collapse;
	width: 100%;
	margin: 10px 0;
}

td,
th {
	border: 1px solid #777;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
}

tr > th:nth-child(1) {
	width: 5%;
	border-left: none;
}

tr > th:nth-child(2) {
	width: 15%;
}

tr > td:nth-of-type(1) {
	width: 50%;
}

tr > td:nth-of-type(2) {
	width: 20%;
}

tr > td:nth-of-type(3) {
	width: 10%;
	border-right: none;
}

input.checkbox {
	display: block;
	margin-left: 12px;
	width: 20px;
	height: 20px;
	border: 1px solid
}

/*추가 모달창 */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.client_field_content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	width: 500px;
	height: 270px;
	border-radius: 5px;
}

.client_field_content h2 {
	height: 50px;
	line-height: 50px;
	font-size: 25px;
	font-weight: bold;
	color: #6a6a6a;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.client_field_content .field {
	width: 100%;
	line-height: 30px;
	height: 31px;
	border-bottom: 1px solid #777;
	box-sizing: border-box;
}

#clientfieldForm div:nth-child(2) {
	border-top: 1px solid #777;
	box-sizing: border-box;
}

.client_field_content > form {}

.client_field_content > form label {
	display: block;
	float: left;
	width: 30%;
	text-align: center;
	margin-right: 2%;
	border-right: 1px solid #777;
	background: rgba(123, 123, 123, 0.15);
	color: #777;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.client_field_content > form input {
	display: block;
	width: 68%;
}

#saveBtn {
	padding: 2px 4px;
	background: #777;
	font-weight: bold;
	color: #fff;
	float: right;
	margin-top: 10px;
	border-radius: 5px;
	cursor: pointer;
}

#saveBtn:hover {
	background: #4d84c6;
}


.close {
	margin-top: -20px;
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/*수정 삭제 모달창 */
.client_del_content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	width: 500px;
	height: 270px;
	border-radius: 5px;
}

.client_del_content h2 {
	height: 50px;
	line-height: 50px;
	font-size: 25px;
	font-weight: bold;
	color: #6a6a6a;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.client_del_content .field {
	width: 100%;
	line-height: 30px;
	height: 31px;
	border-bottom: 1px solid #777;
	box-sizing: border-box;
}

#clientdelForm div:nth-child(2) {
	border-top: 1px solid #777;
	box-sizing: border-box;
}

.client_del_content > form {}

.client_del_content > form label {
	display: block;
	float: left;
	width: 30%;
	text-align: center;
	margin-right: 2%;
	border-right: 1px solid #777;
	background: rgba(123, 123, 123, 0.15);
	color: #777;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.client_del_content > form input {
	display: block;
	width: 68%;
}

#deletBtn {
	padding: 2px 4px;
	background: #777;
	font-weight: bold;
	color: #fff;
	float: right;
	margin-top: 10px;
	border-radius: 5px;
	cursor: pointer;
	margin-left: 5px;
}

#deletBtn:hover {
	background: #4d84c6;
}
#crystalBtn {
	padding: 2px 4px;
	background: #777;
	font-weight: bold;
	color: #fff;
	float: right;
	margin-top: 10px;
	border-radius: 5px;
	cursor: pointer;
}

#crystalBtn:hover {
	background: #4d84c6;
}

/*푸터*/
footer {
	position: relative;
	bottom: 30px;
	left: 20%;
	width: 80%;
	height: 100px;
	background: #444;
}


.footer_contain {
	position: relative;
	width: 100%;
	height: 100%;
	color: #ddd;
	font-size: 15px;
}

.footer_contain i {
	margin-right: 5px;
}

.footer_contain .sc_logo {
	position: absolute;
	font-size: 40px;
	left: 20px;
	bottom: 10px
}

.footer_contain .company {
	position: absolute;
	top: 10px;
	right: 20px;
	text-align: right;
}
