@import url(main.css);

body {
  height: 100%
}

header {
  z-index: 1
}


main figure {
  position: relative;
  width: 100%;
  height: 200px;
  text-align: center;
  background: #444
}

main figure .back {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/p_20.jpg) no-repeat;
  background-position: 0 -500px;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.5
}

figure .txt {
  position: absolute;
  width: 400px;
  height: 60px;
  top: 50%;
  margin-top: -30px;
  left: 50%;
  margin-left: -200px;
  color: #fff
}

figure .txt span {}

figure .txt h3 {
  font-size: 40px
}

figure .txt p {
  font: bold 20px/1 'Nanum Gothic'
}

main section {
  position: relative;
  width: 70%;
  height: 400px;
  margin-top: 50px;
  margin-left: -35%;
  margin-bottom: 100px;
  left: 50%;
  background: #eee;
  
}

main section article {
}

main section .contect {
  position: relative;
  display: block;
  width: 90%;
  height: 100%;
  left: 5%;
  top:40px
}


.left-side,.right-side{
  width: 50%;
  display: block;
  float: left;
  font-size: 16px;
  
}

.left-side {
  
}
.right-side {
  margin-top: 50px;
}


.form-group {
    margin-bottom: 10px;
    width: 90%;
}

.form-group label, .form-group input, textarea {
    width: 90%;
    padding: 5px;
}
.left-side label{
  display: block;
  line-height: 30px;
}

textarea {
  margin-top: -20px;
    height: 200px;
    resize: none; /* 사용자가 크기 조절하지 못하도록 */
}

.submit-button {
  display: block;
}

.submit-button button {
  position: absolute;
  cursor: pointer;
  width: 120px;
  padding: 10px 20px;
  background-color:#666;
  color: #fff;
  bottom: 100px;
  right: 40px;
}

.submit-button button:hover {
  background-color: #d87819;
}

footer {
 position: fixed;
 bottom: 0;
}









/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (min-width:1400px) and (max-width:1599px) {
 main figure .back {
  background-position: 0 -300px;
}
.form-group label, .form-group input, textarea {
  width: 90%;
  padding: 5px;
}
}

/**/
@media screen and (min-width:1280px) and (max-width:1399px) {
 
  main figure .back {
  background-position: 0 -150px;
}
}

/**/

@media screen and (min-width:780px) and (max-width:1279px) {
   main figure .back {
  background-position: 0 -50px;
}
 
}


@media screen and (min-width:480px) and (max-width:779px) {
 figure .txt {
  line-height: 40px;
  margin-top: -20px;}

   main figure .back {
  background-position: 0 -0px;
}
 
}


@media screen and (max-width:479px) {
    main figure .back {
  background-position: 0 -0px;
}
  header {
    position: relative;
    width: 100%;
    height: 70px;
    overflow: hidden;
    background: #444
  }

  #logo {
    top: 10px;
    background: url(../img/logo_2.png) no-repeat 0 0;
    background-size: contain;
    width: 60px;
    left: 50%;
    margin-left: -30px
  }

  main {}

  main figure {
    height: 150px;
  }


  #gnb {
    display: none
  }

}
@media screen and (min-width: 780px) and (max-width: 1279px), 
       screen and (min-width: 480px) and (max-width: 779px), 
       screen and (max-width: 479px) {

        main section{
          height: 600px;
        }

    .contect {
      height: max-content
    }

    .left-side, .right-side, .submit-button {
        width: 100%;
    }
    

    .left-side, .right-side {
        flex-basis: auto;
    }
    .left-side {
      position: relative;
      left: 50%;
      margin-left: -40%;
    }

    .right-side{
      width: 90%;
      position: relative;
      left: 50%;
      margin-left: -40%;
    }

    .submit-button button {
        width: 100%;
        bottom: 60px;
        left: 50%;
        margin-left: -50%;
    }
}