@import url(main.css);

main {
  position: relative;
}

main figure {
  position: relative;
  width: 100%;
  height: 200px;
  text-align: center;
  color: #fff;
  background-color: #222
}

main figure .back {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/p_12.jpg) no-repeat;
  background-position: 0 -700px;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.5
}

figure .txt {
  position: absolute;
  width: 400px;
  height: 60px;
  top: 50%;
  margin-top: -30px;
  left: 50%;
  margin-left: -200px;
}

figure .txt span {}

figure .txt h3 {
  font-size: 2em
}

figure .txt p {
  font: bold 20px/1 'Nanum Gothic'
}

main aside {
  position: relative;
  width: 100%;
  height: 30px;
  display: block;
  background-color: #111
}


#sub_section {
  position: relative;
  width: 95%;
  margin-top: 50px;
  margin-left: -47.5%;
  left: 50%
}

#sub_section article {
  position: relative;
  width: 42.5%;
  height: 350px;
  background-size: cover;
  float: left;
  margin-left: 5%;
  margin-bottom: 50px;
  box-shadow: 1px 1px 6px .5px #111
}

#sub_section article a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden
}

#sub_section article h3 {
  width: 100%;
  height: 250px;
  opacity: .8;
  transition: .4s all
}

#sub_section article a:hover h3,
#sub_section article a:focus h3 {
  transform: scale(1.03);
  opacity: 1
}

#sub_section article:nth-child(1) h3 {
  background: url(../img/P_16.jpg) no-repeat 0 0;
  background-size: cover
}

#sub_section article:nth-child(2) h3 {
  background: url(../img/P_22.jpg) no-repeat 0 0;
  background-size: cover
}

#sub_section article:nth-child(3) h3 {
  background: url(../img/P_6.jpg) no-repeat 0 0;
  background-size: cover
}

#sub_section article:nth-child(4) h3 {
  background: url(../img/P_25.jpg) no-repeat 0 0;
  background-size: cover
}

#sub_section article:nth-child(5) h3 {
  background: url(../img/P_25.jpg) no-repeat 0 0;
  background-size: cover
}

#sub_section article:nth-child(6) h3 {
  background: url(../img/P_25.jpg) no-repeat 0 0;
  background-size: cover
}

#sub_section article div {
  position: relative;
  display: block;
  width: 100;
  height: 100px;
  top: 0px;
  left: 0px;
  background-color: #eee;
  transition: .4s all
}


#sub_section article a:hover div,
#sub_section article a:focus div {
  background-color: #fff
}

#sub_section article div span {
  position: absolute;
  width: 300px;
  margin-top: 15px;
  text-align: center;
  left: 50%;
  margin-left: -150px
}

#sub_section article div h1 {
  font-size: 18px;
  line-height: 20px;
  color: #d87819
}



#sub_section article div p {
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
}

#sub_section article div p strong {
  display: block;
  line-height: 30px;
  font-size: 14px
}

.tour_figure {
  height: 400px;
  background: #eee
}

.tour_figure div {}

.tour_section {
  height: 700px
}

.tour_section article {
  height: 100%;
  width: 100%
}

.tour_section article span {}

.tour_section article h1 {}

.tour_section article p {}

.tour_section article p strong {}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (min-width:1400px) and (max-width:1599px) {
  main figure .back {
    background-position: 0 -400px;
  }
}

/**/
@media screen and (min-width:1280px) and (max-width:1399px) {
  main figure .back {
    background-position: 0 -400px;
  }

}

/**/

@media screen and (min-width:780px) and (max-width:1279px) {
  main figure .back {
    background-position: 0 -100px
  }

  #sub_section article {
    height: 470px
  }

  #sub_section article h3 {
    height: 300px
  }


  #sub_section article div {
    height: 170px;
    top: 0px
  }

  #sub_section article div:after {
    top: 130px
  }

}


@media screen and (min-width:480px) and (max-width:779px) {
    main figure .back {
  background-position: 0 -50px;
}
  main aside {
    display: none
  }

  main figure .back {
    background-position: 0 -100px;
  }

  #sub_section article {
    width: 90%;
    height: 450px;
  }

  #sub_section article h3 {
    height: 300px
  }


  #sub_section article div {
    height: 150px;
    top: 0px
  }

  #sub_section article div:after {
    top: 110px
  }

}


@media screen and (max-width:479px) {


  header {
    position: relative;
    width: 100%;
    height: 70px;
    overflow: hidden;
    background: #444
  }

  #logo {
    top: 10px;
    background: url(../img/logo_2.png) no-repeat 0 0;
    background-size: contain;
    width: 60px;
    left: 50%;
    margin-left: -30px
  }

  main {}

  main aside {
    display: none
  }

  main figure {
    height: 150px;
  }

  figure .txt h3 {
    font-size: 1.7em
  }

  main figure .back {
    background-position: -200px -100px
  }

  #sub_section article {
    width: 90%;
    height: 270px;
  }

  #sub_section article h3 {
    height: 170px
  }


  #sub_section article div {
    height: 100px;
    top: 0px
  }

  #sub_section article div p strong {
  }

  #sub_section article div:after {
    top: 90px
  }

  #gnb {
    display: none
  }


}
